.mud-console, #cmdline, body {
    text-align: left;
    color: lawngreen;
    background-color: black;
    font-family: "courier","monospace";
    font-size: 20;
    font-weight: bold;
}

#cmdline {    
    border: 0px;
    
}
